:root {
  --bs-body-font-family: "Poppins", sans-serif;
}

/* .header-image {
  background-image: url("/assets/header.png");
  background-repeat: no-repeat;
} */

/* Gradient color */
/* header {
  background-image: linear-gradient(to bottom right, #3c2a21, #e5e5cb);
} */
