:root {
  --bs-body-font-family: "Poppins", sans-serif;
}

.bg-header1 {
  background-image: url("../assets/img/header/1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.bg-header2 {
  background-image: url("../assets/img/header/2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.bg-header3 {
  background-image: url("../assets/img/header/3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.bg-header4 {
  background-image: url("../assets/img/header/4.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.header-content {
  position: relative;
  z-index: 2;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.c-item {
  height: 100px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

/* Gradient color */
/* header {
  background-image: linear-gradient(to bottom right, #3c2a21, #e5e5cb);
} */
